
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xl">
            <a class="navbar-brand text-uppercase" href="{{path('app_home')}}">Be Sagnsé</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL"
                aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span><i class="fas fa-bars pl-2"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{path('app_home')}}">Actualité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coin des hommes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coin des femmes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coin des enfants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coin des tissus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Daalu ngaay</a>
                    </li>
                </ul>
                <div class=" my-2 my-md-0 ">
                    {% if app.user %}
                    <!-- <a href="{{ path('app_logout') }}" class="btn btn-primary my-2 my-sm-0 mr-2" type="submit">Deconnexion</a> -->
                    <div class="dropdown mt-1  ">
                        <button class="float-right " style="border: none; background-color:#343a40;" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.profil %}
                            <img src=" {{vich_uploader_asset(app.user.profil)}} " class="rounded-circle " alt="avatar"
                                 style="height: 30px; width:30px">
                            {% else %}
                            <img src=" {{ asset('/images/defaut-avatar.png') }} " class="rounded-circle " alt="avatar"
                                 style="height: 30px; width:30px">
                            {% endif %}
                            <span class=" font-weight-bold text-capitalize" style="color: #ffffff;">{{app.user.fullname}}</span>
                            <i class="fas fa-chevron-circle-down" style="color: #ffffff;"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">

                            <a href="{{path('pin_new')}}" class="dropdown-item text-muted ">Poster un image</a>
                            <div class="dropdown-divider"></div>
                            <a href=" {{path('app_my_account')}} " class="dropdown-item text-muted ">Compte</a>
                            <a href="{{path('app_edit_profil')}}" class="dropdown-item text-muted ">Modifié mon
                                profil</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{path('app_logout')}} " class="dropdown-item text-muted ">Déconnexion</a>

                        </div>
                    </div>
                    {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary my-2 my-sm-0 mr-2"
                        type="submit">S'identifier</a>

                    <a href="{{ path('app_register') }}" class="btn btn-success my-2 my-sm-0"
                        type="submit">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
