{% extends 'base.html.twig' %}

{% block title %}Compte {{app.user.fullname}} {% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div >
    {% include "partials/banniere/banniere.html.twig" %}
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 text-center ">
            <img src=" {{ asset('/images/C360.jpg') }} " class="rounded-circle " alt="avatar" style="height: 200px; width:200px">
        </div>
        <div class="col-md-9 mt-3">
            <h2 class="font-weight-bold display-4"> {{app.user.nomEntreprise }} </h2>
            <p><i class="fas fa-map-marker-alt"> </i>  {{app.user.adresse}}</p>
            <i class="fas fa-phone-alt mb-3"> </i> {{app.user.telephone}} <br>
            <p>
                <strong class=" h4 font-weight-bold "> {{pins | length}} </strong> publications
            </p>
            <strong class="h5 font-weight-bold"> {{app.user.fullName}} </strong>
            <p>Entreprise de couture et formation de design haute couture mode international,
            kay sagnsei lu tokk nga nguénn feulalé todj fi radiax</p>

            
        </div>
    </div>
</div>
<div class="dropdown-divider"></div>
    <div class="album py-5 bg-light">
        <div class="container">
        
            {% for row in pins|batch(3) %}
                <div class="row ">
                    {% for pin in row %}
                    {# <div class="col-md-4  ">
                        <div  style="width: 340px;">
                            <div class=" my-1 bg-whight shadow  pin-img ">
                                <div class="mw-100 overflow-hidden">
                                    <a href="{{ path('pin_show', {'id': pin.id}) }}">
                                        <img src=" {{ vich_uploader_asset(pin) }} " class="card-img-top w-100  " alt="{{pin.titre}}" style="height: 350px ;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> {{pin.titre}} </h5>
                                    <p class="card-text">
                                        {{pin.description}}
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Publié le {{pin.updatedAt| date('d/m/Y')}} à {{pin.updatedAt| date('H:i')}} 
                                        </small>
                                    </p>
                                </div> 
                            </div>
                        </div>
                    </div> #}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="mw-100 overflow-hidden " >
                                    <a href="{{ path('pin_show', {'id': pin.id}) }}">
                                        <img src=" {{ vich_uploader_asset(pin) }} " class="card-img-top w-100  " alt="{{pin.titre}}"
                                            style="height: 400px ;">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{pin.description}}.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('pin_show', {'id': pin.id}) }}"  class="btn btn-sm btn-outline-secondary">View</a>
                                            <a href="{{ path('pin_edit', {'id': pin.id}) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        </div>
                                        <small class="text-muted">Publié le {{pin.updatedAt| date('d/m/Y')}} à {{pin.updatedAt| date('H:i')}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
