{% extends "base.html.twig" %}

{% block title %}Profil | {{user }} {% endblock %}

{% block body %}
    
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row " >
                <div class="col-md-4 text-center" >
                    
                        {% if user.profils | length > 0  %}
                            {% for profil in user.profils %}
                                <img src=" {{vich_uploader_asset(profil)}} " class="rounded-circle " alt="avatar" style="height: 200px; width:200px">
                             {% endfor %}
                        {% else %}
                            <img src=" {{ asset('/images/defaut-avatar.png') }} " class="rounded-circle " alt="avatar"  style="height: 200px; width:200px">
                        {% endif %}
                   
                    <p class="mt-2 font-weight-bold"> {{ user.fullname }} </p>
                    
                </div>
                <div class="col-md-8 ">
                    <h2 class="display-4"> {{ user.nomEntreprise }} </h2>
                    <p class="text-capitalize"> <i class="fas fa-map-marker-alt"></i> {{user.adresse}} </p>
                    <p><i class="fas fa-phone-alt"></i> {{user.telephone}} </p>
                    <p><i class="fas fa-file-image"></i> {{user.pin | length}} publications </p>
                    {% if user is same as(app.user) %}
                        <a href=" {{path('app_edit_profil')}} " class="btn btn-sm btn-outline-secondary btn-small">Modidier mes information</a>
                        <a href=" {{path('app_password_update')}} " class="btn btn-sm btn-outline-secondary btn-small">Modidier mon mot passe</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="container">
            <div class="row">
                {% for pins in pin %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ path('pin_show', {'id': pins.id}) }}">
                                <img src=" {{vich_uploader_asset(pins)}} " class="bd-placeholder-img card-img-top shadow" alt=" {{pins.titre}} " width="100%" height="400" role="img">
                            </a>
                            <div class="card-body">
                            <p class="card-text">
                                {{ pins.titre }}
                            </p>
                            <p class="card-text">
                                {{ pins.description }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href=" {{ path('pin_show', { id: pins.id } ) }} " class="btn btn-sm btn-outline-secondary">Afficher</a>
                                <a href=" {{ path('pin_edit', { id: pins.id }) }} " class="btn btn-sm btn-outline-secondary">Modifier</a>
                                </div>
                                <span class="card-text pl-2">
                                    <small class="text-muted">
                                        Publié le {{pins.updatedAt| date('d/m/Y')}} à {{pins.updatedAt| date('H:i')}}
                                    </small>
                                </span>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}