{% extends "base.html.twig" %}
    {% block header %}
        {% include "partials/banniere/banniere.html.twig" %}
    {% endblock header %}
    {% block body %}
    <div >
        
        <div class="container pt-4">
        {% for pin in pins %}
            <div class=" col-md-6 mx-auto ">
                <div class="card card_pin_show  " >
                    <div class="card-body ">
                        <div>
                            <div class="dropdown">
                                <button class="float-right" style="border: none; background-color:#ffffff;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h float-right mt-2" ></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{ path('pin_edit', {'id': pin.id}) }}">Modifier</a>
                                    <div class="ml-2">{{ include('pin/_delete_form.html.twig') }}</div>
                                </div>
                            </div>
                            {% if pin.user.profils | length > 0%}
                                {% for profil in pin.user.profils %}
                                    <a href=" {{ path('app_profil_user', { id: pin.user.id }) }} ">
                                        <img src=" {{vich_uploader_asset(profil)}} " class="rounded-circle " alt="avatar" style="height: 30px; width:30px">
                                    </a>
                                {% endfor %}
                            {% else %}
                            <a href=" {{ path('app_profil_user', { id: pin.user.id }) }} ">
                                <img src=" {{ asset('/images/defaut-avatar.png') }} " class="rounded-circle " alt="avatar"
                                style="height: 30px; width:30px">
                            </a>
                            {% endif %}
                            
                                <span class="card-text pl-2">
                                    <small class="text-muted">
                                        Publié le {{pin.updatedAt| date('d/m/Y')}} à {{pin.updatedAt| date('H:i')}}
                                    </small>
                                </span>
                            
                            <h4 class="card-title ">{{pin.titre}}</h4>
                            <p class="card-text">{{pin.description}}</p>
                            
                            <a href="{{ path('pin_show', {'id': pin.id}) }}">
                                <img src="{{vich_uploader_asset(pin) | imagine_filter('squared_thumbnail_medium')}}" class="card-img img-fluid rounded"  alt="{{pin.titre}}">
                            </a>
                        </div>
                        <hr>
                    </div>
                    <div class="pb-2  mx-4 d-flex justify-content-between">
                        <a href=" {{path('pin_like', {'id': pin.id})}} " class="btn btn-link js-like ">
                            {% if app.user and pin.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes"> {{pin.jaimes | length > 0}} </span>
                            <span class="js-label">J'aime</span>
                        </a>
                        <span  class="btn btn-link js-comment ">
                            <i class="far fa-comment"><span class="pl-2 js-comment">{{pin.commentaire | length }} Commenter</span></i>
                        </span>
                        
                    </div>
                    
                    <div class="mx-4 ">
                        {% for commentaire in pin.commentaire %}
                            <div class="commentaires">
                                    
                                <div class=" badge badge-light text-left my-1" >
                                   <small class="fullname-js"> {{ commentaire.user.fullname }} </small>  <br>
                                    <small class="message-js" > {{ commentaire.message }} </small> 
                                </div>
                                
                            </div>  
                        {% endfor %}

                        <form method="POST" action="{{path('pin_comment', {'id': pin.id})}}" class="form-comment ">
                            <div id="commentaire">
                                <div class="form-group"><label for="message">Message</label><textarea id="message" name="message" required   class="form-control" ></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary mb-3" type="submit" class="js-comment">Commenter</button>
                                
                        </form>
                    </div>
                </div>
                
            </div>
           
        {% else %}
       
            <p>no records found</p>
            
        {% endfor %} 
    
        </div>
    </div>
{% endblock body %}
